$logo-main-color:#1877F2;
$bg-main-color:#F2F5F8;
$bg-alt-color:#ffffff;

$btn-main-color:#3B72B8;
$btn-alt-color:#43B749;
$notification-color:#E4E6EB;
$notification-alt-color:#E41E3F;
$video-color:#F02849;
$img-color:#45BD62;
$happy-color:#F7B928;
$shadow-main-color:#E2E4E7;
$bollet-color:#65676B;