// start Friends
.mains-friends{
    padding: 75px 0 !important;
}
.friends{
    background-color: #fff;
    height: 500px;
    .ri-settings-5-fill{
        font-size: $main-font-size !important;
        width:40px;
        height: 40px;
        line-height: 40px;
        border-radius:50px;
        text-align: center;
        background-color: $bg-main-color;
    }
    &__menus{
        .ri-arrow-right-s-line{
            font-size: $main-font-size !important;
        }
       
        .home{
            border-radius: $border;
            background-color: $bg-main-color ;
            position: relative;
        .ri-group-fill{
            font-size: $main-font-size !important;
            // color:$bg-alt-color;
            width:35px;
            height: 35px;
            line-height: 35px;
            border-radius:50px;
            text-align: center;
            background-color:$logo-main-color ;
            position: absolute;
            content: "";
            left: 10px;
        }
        h6{
            padding-left: 52px;
            margin-top: 5px;
        }

        }
        .request{
            background: #fff;
            .ri-user-fill{
                font-size: $main-font-size !important;
                // color:$bg-alt-color;
                width:35px;
                height: 35px;
                line-height: 35px;
                border-radius:50px;
                text-align: center;
                background-color:$bg-main-color ;
                position: absolute;
                content: "";
                left: 22px;
            }
            h6{
                padding-left: 52px;
                margin-top: 5px;
            } 
            .ri-user-add-fill{
                font-size: $main-font-size !important;
                // color:$bg-alt-color;
                width:35px;
                height: 35px;
                line-height: 35px;
                border-radius:50px;
                text-align: center;
                background-color:$bg-main-color ;
                position: absolute;
                content: "";
                left: 22px;
            }
        }
    }
}
    
// End Friends

.friends__friend{
    display: grid;
    grid-template-columns: repeat(minmax(1fr, 200p));
    &--card{
        background-color: $bg-alt-color;
        width:210px;
        height:275px;
        box-shadow: 1px 1.3px 1.6px 1.8px $shadow-main-color;
        border-radius:$border;
    }
    .friend__card{

    &--title{
        img{
            width: 100%;
            border-top-right-radius: $border;
            border-top-left-radius: $border;
        }
    }
}
.friened-commun{
    position: relative;
    .mituel1{
        width:20px;
        height:20px;
        position: absolute;
        content: "";
        top:4px;
        left:10px;
    }
    .mituel2{
        width:20px;
        height:20px;
    }
}
}

.btn-danger{
    background-color: $bg-alt-second-color !important ;
    color:#000;
    border-color: $bg-main-color !important;
    font-weight: 500;
    &:hover{
        color:#000;
    }
}